.box {
    padding-top: 100px;
    text-align: center;
    background-color: #EAF0F6;
    color: #33475B;
    border: 3px solid #00A4BD;
    padding: 5px;
}

.links {
    list-style-type: none;
}

.banner {
    width: 100%;
    height: 20vh;
    background-color: grey;
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgb(48, 47, 47);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #cccc22;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #00A4BD;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}